<!-- Header -->
<span cds-text="title">
  <cds-icon shape="employee-group" status="info" size="lg"></cds-icon> Gestion
  des natures d'apport</span
>

<!-- Data grid -->
<clr-datagrid
  [(clrDgSingleSelected)]="selectedItem"
  [clrDgLoading]="loading"
  style="height: calc(100vh - 150px); margin-top: 1em"
>
  <clr-dg-action-bar>
    <!-- Actions -->
    <div class="btn-group">
      <cds-button
        action="outline"
        status="primary"
        (click)="openAddModal()"
        onKeyPress=""
      >
        <cds-icon shape="plus" size="md"></cds-icon> Ajouter
      </cds-button>
    </div>
    <div class="btn-group">
      <cds-button
        action="outline"
        status="warning"
        [disabled]="!selectedItem?.id"
        (click)="toggleShowEdit(selectedItem)"
        onkeypress=""
      >
        <cds-icon shape="note" size="md"></cds-icon> Modifier
      </cds-button>
    </div>
    <div class="btn-group">
      <cds-button
        action="outline"
        status="danger"
        (click)="deleteContributionType()"
        [disabled]="!selectedItem?.id"
        onkeypress=""
      >
        <cds-icon shape="trash" size="md"></cds-icon> Supprimer
      </cds-button>
    </div>
    <!-- Divider -->
    <cds-divider
      cds-layout="m-t:lg m-b:sm"
      class="htitled-divider"
      title="Natures d'apport"
    ></cds-divider>
  </clr-dg-action-bar>
  <clr-dg-column [clrDgField]="'libelle'">Nature de l'apport</clr-dg-column>
  <clr-dg-row
    *clrDgItems="let contributionType of contributionTypes"
    [clrDgItem]="contributionType"
  >
    <clr-dg-cell>{{ contributionType.libelle }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{ contributionTypes.length }} Natures d'apport</clr-dg-footer>
</clr-datagrid>

<!-- Modal method CRUD -->
<clr-modal #modal [(clrModalOpen)]="openModal" [clrModalSize]="'md'">
  <!-- Header -->
  <div class="modal-title">
    <cds-icon status="info" shape="employee-group" size="lg"></cds-icon> Gestion
    des natures d'apport
  </div>
  <!-- Body -->
  <div class="modal-body">
    <!-- Form -->
    <form clrForm [formGroup]="contributionTypeForm!" clrLabelSize="2">
      <clr-input-container>
        <label>Libellé:</label>
        <input
          clrInput
          placeholder="Libellé de la nature d'apport"
          type="text"
          formControlName="libelle"
          style="width: 375px"
        />
      </clr-input-container>
    </form>
  </div>
  <!-- Footer -->
  <div class="modal-footer">
    <!-- Buttons -->
    <cds-button
      action="outline"
      (click)="openModal = false"
      onKeyPress="openModal = false"
      >Annuler</cds-button
    >
    <cds-button
      status="primary"
      (click)="saveContributionType()"
      [disabled]="contributionTypeForm.invalid"
      onkeypress=""
    >
      Sauvegarder
    </cds-button>
  </div>
</clr-modal>

<!-- Super admin dialog for deletion -->
<app-multi-purpose-delete-dialog
  #mp_delete_popup
  [warn_message]="delete_message"
  [pass_phrase]="selectedItem?.libelle"
  [rest_url]="rest_url"
></app-multi-purpose-delete-dialog>
