.total_div {
    text-align: center;
    font-weight: 500;
    font-size: 110%;
    margin-top: 1em;
    padding: 0.5em 1em;
    border: 1px solid var(--clr-color-neutral-300);
    color: var(--clr-color-action-700);
    border-radius: 7px;
    letter-spacing: 2px;
}