.date {
    color: var(--clr-side-panel-font-color);
}

.panel {
    white-space: normal;
}

.badge.alertes {
    margin-left: -1.3em;
    margin-top: -0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}