td,
th {
    font-size: 90%;
    font-weight: 500 !important;
    padding: 0.75em;
}

th {
    color: var(--cds-alias-object-interaction-color-selected);

    &:first-of-type {
        text-align: left;
    }
}

label {
    white-space: nowrap;
}

td {
    &.digit {
        text-align: right !important;
    }

    &:first-of-type {
        text-align: left;
        font-size: 100%;
    }
}

.text-danger {
    color: var(--cds-alias-status-danger);
}

.text-success {
    color: var(--clr-color-success-400);
}

a {
    text-decoration: none;
}