<div cds-layout="horizontal align:stretch gap:lg">
    <div class="button-area">
        <cds-button action="outline" status="success">
          <cds-icon shape="dollar" size="30" class="m-r-sm"></cds-icon>
          Générer une notification de paiement
        </cds-button>
      
        <cds-button action="outline" status="primary">
          <cds-icon shape="file" size="30" class="m-r-sm"></cds-icon>
          Générer un PV du comité d'investissement
        </cds-button>
      </div>
      
</div>