<div cds-layout="vertical align:stretch gap:xs">
  <!-- Section Total Investi -->
  <div
    class="large-text-snippet thin"
    cds-text="monospace"
    style="--border-color: var(--TOTAL)"
  >
    <div cds-layout="vertical align:space-between gap:xxxs">
    <span
      class="big-text"
      style="--fore-color: var(--TOTAL); font-variant: small-caps"
      cds-text="title"
    >
      {{ totalAssets() ?? 0 | currency : "tnd" : "symbol" : "1.0-0" }}
    </span>
    <span cds-text="title" style="margin-top: 0.2em !important"
      >Total actif</span
    >
    </div>
  </div>

  <cds-divider
    class="htitled-divider"
    cds-layout="m-y:lg"
    title="Répartition des actifs par fonds"
  ></cds-divider>

  <app-pie-chart-03 [fundsAssets]="chartData()"></app-pie-chart-03>
  <!-- Section Pie Chart -->
</div>
