.label {
    font-size: 120%;
    padding: .5em;
    vertical-align: middle;
}

h4 {
    font-weight: 500;
    letter-spacing: 2px;
    font-variant: small-caps;
    // border-bottom: 1px solid #EEE;
    color: var(--cds-alias-status-info-shade)
}
