<form
  clrStepper
  clrForm
  cds-layout="m-y:lg"
  class="clr-form-compact"
  [formGroup]="prospectionSaveForm"
  (ngSubmit)="saveProjet()"
  [clrLabelSize]="3"
>
  <clr-stepper-panel formGroupName="general_info">
    <clr-step-title>Informations générales</clr-step-title>
    <clr-step-description></clr-step-description>
    <clr-step-content>
      <!-- Nom -->
      <clr-input-container>
        <label for="nom" class="clr-required-mark"
          >Nom du projet / société</label
        >
        <input clrInput type="text" formControlName="nom" name="nom" />
      </clr-input-container>

      <!-- Promoteur selection -->
      <clr-select-container>
        <label for="promoteur" class="clr-required-mark">Promoteur</label>
        <select
          clrSelect
          name="promoteur"
          formControlName="promoteur"
          [compareWith]="equals"
        >
          <option [ngValue]="null" [attr.data-value]="null">
            Choisir un promoteur...
          </option>
          @for (promoteur of promoteurs; track $index) {
          <option [ngValue]="promoteur" [attr.data-value]="promoteur">
            {{ promoteur?.nom }}
          </option>
          }
        </select>
      </clr-select-container>

      <!-- Activite -->
      <clr-input-container>
        <label for="activite" class="clr-required-mark">Activité</label>
        <input
          clrInput
          type="text"
          formControlName="activite"
          name="activite"
        />
      </clr-input-container>

      <!-- Forme juridique -->
      <clr-select-container>
        <label for="forme" class="clr-required-mark">Forme juridique</label>
        <select
          clrSelect
          name="forme"
          formControlName="forme"
          [compareWith]="equals2"
        >
          <option [ngValue]="null" [attr.data-value]="null">
            Choisir une forme...
          </option>
          @for (forme of formes; track forme.value) {
          <option [ngValue]="forme" [attr.data-value]="forme">
            {{ forme?.label }}
          </option>
          }
        </select>
      </clr-select-container>

      <!-- Secteur -->
      <clr-select-container>
        <label for="secteurs" class="clr-required-mark">Secteur</label>
        <select
          clrSelect
          name="secteurs"
          formControlName="secteurs"
          [compareWith]="equals"
        >
          <option [ngValue]="null" [attr.data-value]="null">
            Choisir un secteur...
          </option>
          @for(secteur of secteurs; track secteur.id){
          <option [ngValue]="secteur" [attr.data-value]="secteur">
            {{ secteur?.libelle }}
          </option>
          }
        </select>
      </clr-select-container>

      <!-- Capital social -->
      <clr-number-input-container>
        <label for="capitalSocial" class="clr-required-mark"
          >Capital social</label
        >
        <input
          clrNumberInput
          type="number"
          formControlName="capitalSocial"
          name="capitalSocial"
        />
        <clr-control-helper>
          {{
            prospectionSaveForm!.get("general_info")!.get("capitalSocial")!
              .value | currency : "symbol" : "tnd" : "1.2-2"
          }}
        </clr-control-helper>
      </clr-number-input-container>

      <!-- Alert capital social -->
      @if ( prospection()?.actualCapital != 0 && prospection()?.actualCapital !=
      null && prospection()?.actualCapital != prospection()?.capitalSocial ) {
      <div class="alert alert-warning" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <cds-icon
                class="alert-icon"
                shape="exclamation-circle"
              ></cds-icon>
            </div>
            <span class="alert-text">
              La valeur actuelle du capital social a changé. Le capital actuel
              est :
              <span
                style="font-size: 120%; color: var(--cds-alias-status-info)"
              >
                {{ prospection()?.actualCapital | number : "1.2-2" }}
                <small>tnd</small>
              </span>
            </span>
          </div>
        </div>
      </div>
      }
      <button clrStepButton="next">Suivant</button>
    </clr-step-content>
  </clr-stepper-panel>

  <clr-stepper-panel formGroupName="localization_info">
    <clr-step-title>Localisation</clr-step-title>
    <clr-step-description
      >Ces données servent à localiser le projet sur la carte au niveau de la
      fiche valeur</clr-step-description
    >
    <clr-step-content>
      <!-- Adresse siège -->
      <clr-input-container>
        <label for="adresseSiege" class="clr-required-mark"
          >Adresse siège</label
        >
        <input
          clrInput
          type="text"
          formControlName="adresseSiege"
          name="adresseSiege"
        />
      </clr-input-container>

      <!-- Adresse usine -->
      <clr-input-container>
        <label for="adresseUsine">Adresse usine</label>
        <input
          clrInput
          type="text"
          formControlName="adresseUsine"
          name="adresseUsine"
        />
      </clr-input-container>

      <!-- Latitude -->
      <clr-number-input-container>
        <label for="latitude">Latitude: </label>
        <input
          clrNumberInput
          type="number"
          formControlName="latitude"
          name="latitude"
        />
      </clr-number-input-container>
      <clr-number-input-container>
        <label for="longitude">Longitude: </label>
        <input
          clrNumberInput
          type="number"
          formControlName="longitude"
          name="longitude"
        />
      </clr-number-input-container>

      <button clrStepButton="previous">Précédent</button>
      <button clrStepButton="next">Suivant</button>
    </clr-step-content>
  </clr-stepper-panel>

  <clr-stepper-panel formGroupName="administrative_info">
    <clr-step-title>Informations administratives</clr-step-title>
    <clr-step-description></clr-step-description>
    <clr-step-content>
      <!-- RNE -->
      <clr-input-container>
        <label for="rne" class="clr-required-mark"> RNE</label>
        <input clrInput type="text" formControlName="rne" name="rne" />
      </clr-input-container>

      <!-- Nature d'investissement -->
      <clr-select-container>
        <label for="natureInvestissements" class="clr-required-mark"
          >Nature d'investissement</label
        >
        <select
          clrSelect
          name="options"
          formControlName="natureInvestissements"
          [compareWith]="equals"
        >
          @for(nature of naturesInvestissement; track $index){
          <option [ngValue]="nature" [attr.data-value]="nature">
            {{ nature?.libelle }}
          </option>
          }
        </select>
      </clr-select-container>

      <!-- Type d'investissement -->
      <clr-select-container>
        <label for="typeInvestissements" class="clr-required-mark"
          >Type d'investissement</label
        >
        <select
          clrSelect
          name="options"
          formControlName="typeInvestissements"
          [compareWith]="equals"
        >
          @for(type of typesInvestissement; track $index){
          <option [ngValue]="type" [attr.data-value]="type">
            {{ type?.libelle }}
          </option>
          }
        </select>
      </clr-select-container>
      <button clrStepButton="previous">Précédent</button>
      <button clrStepButton="next">Suivant</button>
    </clr-step-content>
  </clr-stepper-panel>

  <clr-stepper-panel formGroupName="observations_info">
    <clr-step-title>Observations</clr-step-title>
    <clr-step-description>
      Vous pouvez utiliser la synthaxe
      <a href="https://www.markdownguide.org/basic-syntax/" target="_blank"
        >Markdown</a
      >
      pour formater vos observations.
    </clr-step-description>
    <clr-step-content>
      <!-- Observations -->
      <clr-textarea-container>
        <label for="observations">Observations:</label>
        <textarea
          clrTextarea
          formControlName="observations"
          name="observations"
          rows="5"
        ></textarea>
      </clr-textarea-container>
      <button clrStepButton="previous">Précédent</button>
      <button clrStepButton="submit">Sauvegarder</button>
    </clr-step-content>
  </clr-stepper-panel>
</form>
