@if(finEntity()?.input && !readonly()) {
<!-- View Mode -->
@if(!isEditing) {
<div (click)="startEdit()" class="editable-view" [style.cursor]="'pointer'">
  @if(finEntity()?.type === 'decimal') {
  {{
    isValidNumber(finDatum()?.value)
      ? (finDatum()?.value | number : "1.2-2")
      : "-"
  }}
  } @if(finEntity()?.type === 'int') {
  {{
    isValidNumber(finDatum()?.value)
      ? (finDatum()?.value | number : "1.0-0")
      : "-"
  }}
  } @if(finEntity()?.type === 'percent') {
  {{
    isValidNumber(finDatum()?.value)
      ? (finDatum()?.value | number : "1.2-2")
      : "-"
  }}% }
  <cds-icon shape="pencil" solid size="10" class="info"></cds-icon>
</div>
}

<!-- Edit Mode -->
@if(isEditing) {
<div class="editable-edit">
  <input
    type="number"
    [formControl]="control"
    (keydown.enter)="saveEdit()"
    (keydown.escape)="cancelEdit()"
    (blur)="saveEdit()"
    #editInput
  />
</div>
} } @if((readonly() || !finEntity()?.input) && finEntity()?.type === 'decimal')
{
<span>{{
  isValidNumber(finDatum()?.value)
    ? (finDatum()?.value | number : "1.2-2")
    : "-"
}}</span>
} @if((readonly() || !finEntity()?.input) && finEntity()?.type === 'int') {
<span>{{
  isValidNumber(finDatum()?.value)
    ? (finDatum()?.value | number : "1.0-0")
    : "-"
}}</span>
} @if((readonly() || !finEntity()?.input) && finEntity()?.type === 'percent') {
<span
  >{{
    isValidNumber(finDatum()?.value)
      ? (finDatum()?.value | number : "1.2-2")
      : "-"
  }}%</span
>
}
