.upload-btn {
    margin-top: 25px;
}

div {
    width: 100%;
}

label {
    line-height: 2em;
    font-size: 1.3em;
}

.clr-form {
    padding: 0 !important;
}

.doc-name {
    color: var(--cds-alias-utility-violet) !important;
}

td {
    line-height: 2em;
}

hr {
    margin-top: 2em;
    border: 1px dashed #999;
}

h4 {
    border-bottom: 1px solid var(--clr-color-action-100);
    font-weight: 300;
}