.title {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--clr-color-neutral-600);
    text-overflow: ellipsis;
    text-transform: uppercase;

}



.gauge-volume {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Stardos Stencil', Georgia, 'Times New Roman', Times, serif;
    color: var(--cds-alias-status-info)
}