.total_div {
    text-align: center;
    font-weight: 500;
    font-size: 110%;
    margin-top: 1em;
    padding: 0.5em 1em;
    border: 1px solid var(--clr-color-neutral-500);
    color: var(--clr-color-action-700);
    border-radius: 7px;
    letter-spacing: 2px;
}

form {
    padding-left: 0.5em;
    border-left: 2px dotted var(--clr-color-action-500);
}

h3 {
    margin-bottom: .5em;
}