@import './chat-agent/chat-agent.component.scss';

.title {
    font-size: 24px !important;
    font-weight: 900 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    opacity: .65;
}

.header-nav {
    a {
        text-transform: uppercase;
    }
}

.clr-vertical-nav {
    width: 16rem
}

#back-to-top-scrollable-container {
    width: calc(100%) !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: auto;

}

a {
    cursor: pointer;
    text-decoration: none !important;
    letter-spacing: 1px !important;
    font-variant: small-caps;
    font-weight: 700 !important;
    line-height: 2.7em !important;
}

