<!-- Header -->
<span cds-text="title">
  <cds-icon shape="wallet" status="info" size="lg"></cds-icon> Gestion des types
  d'investissement</span
>

<!-- Data grid -->
<clr-datagrid
  [(clrDgSingleSelected)]="selectedItem"
  [clrDgLoading]="loading"
  style="height: calc(100vh - 150px); margin-top: 1em"
>
  <clr-dg-action-bar>
    <!-- Actions -->
    <div class="btn-group">
      <cds-button
        action="outline"
        status="primary"
        (click)="openAddModal()"
        onKeyPress=""
      >
        <cds-icon shape="plus" size="md"></cds-icon> Ajouter
      </cds-button>
    </div>
    <div class="btn-group">
      <cds-button
        action="outline"
        status="warning"
        [disabled]="!selectedItem?.id"
        (click)="toggleShowEdit(selectedItem)"
        onkeypress=""
      >
        <cds-icon shape="note" size="md"></cds-icon> Modifier
      </cds-button>
    </div>
    <div class="btn-group">
      <cds-button
        action="outline"
        status="danger"
        (click)="deleteInvestmentType()"
        [disabled]="!selectedItem?.id"
        onkeypress=""
      >
        <cds-icon shape="trash" size="md"></cds-icon> Supprimer
      </cds-button>
    </div>
    <!-- Divider -->
    <cds-divider
      cds-layout="m-t:lg m-b:sm"
      class="htitled-divider"
      title="Types d'investissement"
    ></cds-divider>
  </clr-dg-action-bar>
  <clr-dg-column [clrDgField]="'libelle'">Type d'investissement</clr-dg-column>
  <clr-dg-row *clrDgItems="let type of types" [clrDgItem]="type">
    <clr-dg-cell>{{ type.libelle }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer
    >{{ types.length }} Types / Natures d'investissement</clr-dg-footer
  >
</clr-datagrid>

<!-- Modal method CRUD -->
<clr-modal #modal [(clrModalOpen)]="openModal" [clrModalSize]="'md'">
  <!-- Header -->
  <div class="modal-title">
    <cds-icon status="info" shape="wallet" size="lg"></cds-icon> Gestion des
    types d'investissement
  </div>
  <!-- Body -->
  <div class="modal-body">
    <!-- Form -->
    <form clrForm [formGroup]="investmentTypeForm!" clrLabelSize="2">
      <clr-input-container>
        <label>Libellé:</label>
        <input
          clrInput
          placeholder="Libellé type / nature d'investissement"
          type="text"
          formControlName="libelle"
          style="width: 375px"
        />
      </clr-input-container>
    </form>
  </div>
  <!-- Footer -->
  <div class="modal-footer">
    <!-- Buttons -->
    <cds-button
      action="outline"
      (click)="openModal = false"
      onKeyPress="openModal = false"
      >Annuler</cds-button
    >
    <cds-button
      status="primary"
      (click)="saveInvestmentType()"
      [disabled]="investmentTypeForm.invalid"
      onkeypress=""
    >
      Sauvegarder
    </cds-button>
  </div>
</clr-modal>

<!-- Super admin dialog for deletion -->
<app-multi-purpose-delete-dialog
  #mp_delete_popup
  [warn_message]="delete_message"
  [pass_phrase]="selectedItem?.libelle"
  [rest_url]="rest_url"
></app-multi-purpose-delete-dialog>
