.left-bordere {
  border-left: var(--clr-table-borderwidth) solid var(--clr-tablerow-bordercolor);
  text-align: left;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  cursor: pointer;
}

.icon-container cds-divider {
  padding: 0 5px;
  margin: 0 3px;
}

.reserve {
  font-size: 105%;
  padding: 0.7em;
}

.centered {
  vertical-align: middle;
  font-weight: 500;
}

label {
  font-weight: 500 !important;
}