.emoji {
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  filter: grayscale(100%);
  opacity: 0.6;

  &:hover {
    filter: grayscale(0%);
    opacity: 0.9;
    transform: scale(1.1);
  }

  &.selected {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.2);
  }
}

:host-context(.custom-feedback-modal) .modal-dialog {
  width: 500px !important;
  /* Adjust as needed */
  max-width: 90vw;
}