<div
  cds-layout="grid cols@sm:12 cols@md:12 cols@lg:6 cols@xl:6 cols@2xl:6 gap:xl"
>
  <clr-datagrid [clrDgLoading]="loading()" style="height: 415px">
    <clr-dg-column [clrDgField]="'libelle'">Dépense</clr-dg-column>
    <clr-dg-column>Montant (TND)</clr-dg-column>
    <clr-dg-column>%</clr-dg-column>

    <clr-dg-row *clrDgItems="let expense of others" [clrDgItem]="expense">
      <clr-dg-cell>{{ expense?.libelle }}</clr-dg-cell>
      <clr-dg-cell class="text-right">{{
        expense?.montant | number : "1.0-0"
      }}</clr-dg-cell>
      <clr-dg-cell class="text-right">{{
        expense.montant / (totalOtherFinancing() || 1) | percent : "1.0-0"
      }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      Total dépenses :
      <span class="digit"
        >{{ totalOtherFinancing() | number : "1.0-0" }} <small>TND</small></span
      >,
      <span class="digit">{{ others.length }}</span>
      Dépenses
    </clr-dg-footer>
  </clr-datagrid>
  <div class="card" style="height: 399px; margin-top: 1em">
    <app-pie-chart-04 [data]="others" #pieChart04Component></app-pie-chart-04>
  </div>
</div>
