tfoot th {
    font-size: 150% !important;
  }
  
  .full-width-table {
    width: 100%;
  }
  
  
  .extra > td:first-of-type {
    border-left: 5px solid var(--cds-alias-status-danger);
  }
  
  .footer-row {
    display: flex;
    width: 100%;
  }
  
  .cell {
    flex: 1;
    padding: 0.5rem;
    font-weight: bold;
  }

  .separator {
    padding: 1em 0;
  }
  