<!-- Loading Spinner -->
<div
  class="modal-backdrop"
  aria-hidden="true"
  [style.display]="loading ? 'block' : 'none'"
  (dblclick)="loading = false"
>
  <span
    class="spinner"
    style="
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    "
    >Loading...</span
  >
</div>

<!-- Header -->
<span cds-text="title">
  <cds-icon shape="login" size="lg" status="info"></cds-icon> Souscriptions par
  projet
</span>

<!-- Divider -->
<cds-divider
  cds-layout="m-t:xl "
  class="htitled-divider"
  title="Inventaire des souscriptions par projet"
></cds-divider>

<div cds-layout="horizontal align:left gap:md m-t:xl">
  <!-- Project Switcher -->
  <clr-dropdown>
    <!-- Button trigger -->
    <cds-button size="md" action="outline" clrDropdownTrigger>
      {{ selectedProjet?.nom?.toUpperCase() || "Sélectionner un projet" }}
      <cds-icon shape="angle" status="info" direction="down"></cds-icon>
    </cds-button>

    <!-- Dropdown menu -->
    <clr-dropdown-menu *clrIfOpen>
      @for(p of projets; track $index){
      <div clrDropdownItem (click)="selectProjet(p)">
        {{ p.nom.toUpperCase() }}
      </div>
      }
    </clr-dropdown-menu>
  </clr-dropdown>


  
  <!-- Project Name -->
  <span class="project-name active">
    {{ selectedProjet ? selectedProjet.nom : "Nom du projet ..."
    }}<cds-icon
      shape="dashboard"
      size="lg"
      title="Cliquer pour consulter la fiche projet"
      style="cursor: pointer"
      (click)="goToFiche()"
    ></cds-icon>
  </span>
</div>

<!-- Financement Switcher -->
<financing-switch
  #financing_switcher
  (financementChanged)="financingChanged($event)"
  [prospection]="selectedProjet"
  [message]="
    ' Veuillez spécifier le plan de financement pour gêrer les souscriptions dans le projet'
  "
></financing-switch>

<!-- Tabs -->
<clr-tabs>
  @for(f of financement?.fonds; track f){
  <clr-tab>
    <button clrTabLink>
      {{ f.denomination }}
    </button>
    <clr-tab-content *clrIfActive="$first">
      <div class="fund-name" cds-layout="m-t:lg">{{ f.denomination }}</div>
      <div cds-layout="m-t:lg">
        <funds-subscription
          [projet]="selectedProjet"
          [fonds]="f"
          [financement]="financement"
        ></funds-subscription>
      </div>
    </clr-tab-content>
  </clr-tab>
  }
</clr-tabs>
